html, body{
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7 !important;
    font-family: "Montserrat";
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4 {
    font-family: "Montserrat" !important;
}

p {
    font-size: 14px;
    line-height: 2;
    font-family: "Montserrat";
    color: #676767;
}

.cont {
    padding-left: 50px;
    padding-right: 50px;
}

.header {
    background-image: linear-gradient(90deg, #000000 0%, #434343 100%);/* 076 Premium Dark: */
    position: relative;
    padding-bottom: 60px;
    transition: 0.5s;
}

.header--full {
    /* height: 100%; */
    padding: 0;
    position: absolute !important;
    width: 100%;
    z-index: 5000;
    transition: height 0.3s ease-in-out;
}

.parabole {
    background-image: url('../img/parabole2.png');
    background-position: 50% top;
    bottom: -1px;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 50px;
}

.header .navbar-nav  .nav-link{
    font-family: "Montserrat";
    font-weight: 300;
    color: white;
    padding-left: 1.2rem !important;
    padding-right: 1.2rem !important;
}

#navbarNavAltMarkup {
    flex-grow: 0;
}

.navbar-brand {
    color: white;
}

.navbar-nav {
    margin-top: 20px;
    letter-spacing: 1.3px;
    font-size: 13px;
}

.content-wrapper {
    padding-top: 50px;
    flex: 1 0 auto;
}

.formarea {
    padding-bottom: 50px;
}

.formarea--center {
    padding-top: 150px;
}

.outerform {
    width: 80%;
    margin: 0 auto;
}

.outerform--center {
    max-width: 600px;
}

.form-wrapper {
    background: #FFFFFF;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.12);
    border-radius: 2px;
    width: 100%;
    /* float: right; */
}

.form-content {
    padding-top: 10px;
    padding-bottom: 10px;

}

.main-button--margin {
    margin-top: 50px;
}

.form-title h2{
    color: #211E1E;
    padding: 19px;
}

.select {
    position: relative;
    display: inline-block;
    margin-bottom: 15px;
    font-size: 11px;
    width: 100%;
  }
  .select select {
    display: inline-block;
    width: 100%;
    cursor: pointer;
    padding: 10px 15px;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: #e6e6e6;
    color: #7b7b7b;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  .select select::-ms-expand {
    display: none;
  }
  .select select:hover,
  .select select:focus {
    color: #000;
    background: #ccc;
  }
  .select select:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
  .select__arrow {
    position: absolute;
    top: 16px;
    right: 15px;
    width: 0;
    height: 0;
    pointer-events: none;
    border-style: solid;
    border-width: 8px 5px 0 5px;
    border-color: #7b7b7b transparent transparent transparent;
  }
  .select select:hover ~ .select__arrow,
  .select select:focus ~ .select__arrow {
    border-top-color: #000;
  }
  .select select:disabled ~ .select__arrow {
    border-top-color: #ccc;
  }


.main-button {
	background-image: linear-gradient(90deg, #000000 0%, #434343 100%);
    border-radius: 5px;
    border: 0;
	color: white;
	width: 150px;
	cursor: pointer;
	height: 43px;
	font-family: "Montserrat";
	font-size: 13px;
	font-weight: 400;
	letter-spacing: 2px;
	position: relative;
}

.account-button {
	background-image: linear-gradient(90deg, #000000 0%, #434343 100%);
    border-radius: 5px;
    border: 0;
	color: white;
	width: 230px;
	cursor: pointer;
	height: 43px;
	font-family: "Montserrat";
	font-size: 13px;
	font-weight: 400;
	letter-spacing: 2px;
    position: relative;
    margin-top: 50px;
}

.main-button, .btn-primary{
    background-image: linear-gradient(90deg, #000000 0%, #434343 100%);
    width: 100px;
    height: 30px;
    border-radius: 6%;
    font-size: 1.0em; 
}

.margin-for-dropdown{
    margin-top: 25px;
}

.btn-primary:hover{
    background-image: none;
    background-color: #000;
}

.btn-primary:focus{
    background-image: none;
    background-color: #000;
}

.btn-primary, .dropdown-toggle{
    background-color: #000;
}

.dropdowntext{
    font-size: 1.5rem;
}

.saldo-form-text{
    font-size: 1.5rem;
    letter-spacing: 0px;
}

.borderborder{
    border-bottom: 1px solid #dedede;
}

.marginmargin{
    margin-top: 10px;
    margin-bottom:10px;
    margin-left: 5px;
}

.main-button-square {
	background-image: linear-gradient(90deg, #000000 0%, #434343 100%);
    border-radius: 5px;
    border: 0;
	color: white;
	width: 150px;
	cursor: pointer;
	height: 43px;
	font-family: "Montserrat";
	font-size: 13px;
	font-weight: 400;
	letter-spacing: 2px;
    position: relative;
    margin-top: 20px;
}

.main-button-right {
	background-image: linear-gradient(90deg, #000000 0%, #434343 100%);
    border-radius: 5px;
    border: 0;
	color: white;
	width: 150px;
	cursor: pointer;
	height: 43px;
	font-family: "Montserrat";
	font-size: 13px;
	font-weight: 400;
	letter-spacing: 2px;
    position: relative;
    margin-top: 10px;
}

.main-button-right, .button-modal {
    margin-top: 7px;
}

.main-home-button{
    background-image: linear-gradient(90deg, #000000 0%, #434343 100%);
    border-radius: 5px;
    border: 0;
	color: white;
	width: 240px;
	cursor: pointer;
	height: 70px;
	font-family: "Montserrat";
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 2px;
    position: relative;
    margin-top: 20px;
    margin-bottom: 65px;
}

.main-button--transparent {
    background-image: none;
    background: transparent;
}

.main-button:focus {
	outline: 0;
}

.main-button span {
	margin-right: 15px;
}

.main-button span:after {
    font-family: "Font Awesome 5 Free";
    content: "\f054";
    display: inline-block;
    vertical-align: middle;
    font-weight: 900;
    margin: 0px 0px 0px 8px;
    position: absolute;
    right: 15px;
    top: 13px;
    transition: 0.1s;
}

.main-button:hover span:after {
    right: 12px;
    transition: 0.1s;
}

.card-area {
    padding-bottom: 50px;
}

.acecard {
    position: relative;
    z-index: 10;
    width: 660px;
    display: block;
}

.text_bg {
    position: absolute;
    right: 0;
    top: 30%;
    z-index: 0;
}

/* Icon 4 */

.animated-icon3 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.animated-icon3 span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.animated-icon3 span {
    background: #f3e5f5;
}


.animated-icon3 span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.animated-icon3 span:nth-child(2) {
    top: 10px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.animated-icon3 span:nth-child(3) {
    top: 20px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.animated-icon3.open span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 0px;
    left: 8px;
}

.animated-icon3.open span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

.animated-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 21px;
    left: 8px;
}

.navbar-toggler {
    outline: 0 !important;
}

.footer {
    background-image: linear-gradient(170deg, rgba(255, 255, 255, 0) 0%, rgb(218, 218, 218) 100%);
    flex-shrink: 0;
    padding: 50px;
}

.footer-parabole {
    z-index: 800;
    background-image: url('../img/footer-max.png');
    background-position: 50% top;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: 50px;
}

.footer-wrapper {
    position: relative;
}

.textarea {
    position: absolute;
    z-index: 1000;
    left: 311px;
    top: 30%;
    margin-right: 90px;
    text-align: right;
    width: 310px;
    text-align: center;
}

/* form starting stylings ------------------------------- */

.inputs {
	padding-left: 25px;
	padding-right: 25px;
}

.inputs-space .group {
    padding-bottom: 3rem;
}

.inputs--large {
    padding-top: 45px;
}

.group {
	position: relative;
	font-family: "Montserrat";
	letter-spacing: 1.1px;
}

.group input {
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	display: block;
	width: 100%;
	border: none;
	border-bottom: 1px solid #dedede;
	background-color: transparent;
}

/* .inputs .group {
    padding-bottom: 3rem;
} */

.group input[type=text] {
	font-size: 14px;
}

.group input[type=accountform] {
    background: #f7f7f7;
}

.group input:focus {
	outline: none;
}

.radio {
    width: 80px;
}

.radio-wrapper label {
    color: #868686;
    font-family: "Montserrat";
    font-size:13px;
}

.radio input[type=radio] {
    margin-right: 5px;
}


/* LABEL ======================================= */

.form-label p, .group label{
	color: #999;
	font-size: 13px;
	font-weight: normal;
}

.group label {
	font-size: 11px;
	position: absolute;
	pointer-events: none;
	left: 5px;
	top: 10px;
	transition: 0.2s ease all;
	-moz-transition: 0.2s ease all;
	-webkit-transition: 0.2s ease all;
}

/* active state */

.group input:focus~label,
.group input:valid~label {
	top: -20px;
	font-size: 11px;
	color: #007bff;
}


/* BOTTOM BARS ================================= */

.group .bar {
	position: relative;
	display: block;
	width: 100%;
}

.group .bar:before,
.group .bar:after {
	content: '';
	height: 2px;
	width: 0;
	bottom: 1px;
	position: absolute;
	background: #007bff;
	transition: 0.2s ease all;
	-moz-transition: 0.2s ease all;
	-webkit-transition: 0.2s ease all;
}

.group .bar:before {
	left: 50%;
}

.group .bar:after {
	right: 50%;
}


/* active state */

.group input:focus~.bar:before,
.group input:focus~.bar:after {
	width: 50%;
}


/* HIGHLIGHTER ================================== */

.group .highlight {
	position: absolute;
	height: 60%;
	width: 100px;
	top: 25%;
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}


/* active state */

.group input:focus~.highlight {
	-webkit-animation: inputHighlighter 0.3s ease;
	-moz-animation: inputHighlighter 0.3s ease;
	animation: inputHighlighter 0.3s ease;
}

.rememberme {
    padding-left: 5px;
}

#login {
    transition: 0.5s ease-in-out;
    opacity: 0;
}

.login-options a, .login-options label, .dark-link {
    font-size: 13px;
    line-height: 2;
    font-family: "Montserrat";
    color: #676767;
}

.login-actions {
    margin-top: 20px;
}

.dark-link {
    color: #505050 !important;
    line-height: 47px;
    text-decoration: underline !important;
    text-underline-position: under;
}

.input-wrapper {
    position: relative;
}

.inputs--small {
    width: 70%;
}

.info-text-wrapper {
    padding: 50px;
    padding-top: 30px;
    padding-bottom: 10px;
}

.info-text-wrapper h3 {
    font-size: 15px;
    font-weight: 500;
}

.info-text-wrapper .info:before {
	content: "\f129";
}

.info-text-wrapper .reqs:before {
	content: "\f0ae";
}

.info-text-wrapper .info:before, .info-text-wrapper .reqs:before {
   font-family: "Font Awesome 5 Free";
   display: inline-block;
   padding-right: 13px;
   padding-bottom:2px;
   vertical-align: middle;
   font-weight:600;
   font-size:12px;
   color: #cfbdbd;
   display: none;
}

.info-text-wrapper p {
    font-size: 13px;
    font-weight: 300;
}

.form-divider {
    margin: 0px 35px 0px 35px;
}

.form-divider-border {
    height: 1px;
    background-color: #e3e3e3;
    width: 80%;
    margin: 0 auto;
}

.info-text-wrapper ul {
    font-family: "Montserrat";
    font-weight: 300;
    padding-left: 28px;
    list-style: none;
}

.info-text-wrapper li {
    font-size: 13px;
    padding:7px;
    margin: 0;
}

.info-text-wrapper ul li::before {
  font-family: "Font Awesome 5 Free";
  content: "\f054";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: rgba(174, 158, 158, 0.42); /* Change the color */
  font-size:11px;
  font-weight: 600; /* If you want it to be bold */
  display: inline-block; /* Needed to add space between the bullet and the text */
  width: 1em; /* Also needed for space (tweak if needed) */
  margin-left: -1em; /* Also needed for space (tweak if needed) */
  margin-right: 10px;
}

.form-title--large {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: solid 1px #0000000f;
}

.form-title-left {
    border-right: solid 1px rgba(222, 222, 222, 0.3215686274509804);
}

.form-title-left h2 {
  font-size: 28px;
  padding-left: 45px;
}

.statusbar {
    background-color: #e9e9e9;
    height: 5px;
    margin-top: 14px;
    width: 80px;
}

.statusbar--checked {
    background-color: #3a3636;
}

.statuscircle {
    width: 31px;
    height: 33px;
    background-size: 100% 2.0em;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
}

.statuscircle--checked {
	background-image: url('../img/circle_checked.svg');
}

.statuscircle--unchecked {
	background-image: url('../img/circle_unchecked.svg');
}

.form-status {
    width: 460px;
    margin: 0 auto !important;
}

.linkbar-wrapper {
    width: 100%;
    height: 50px;
    background-color: #f6f6f6;
    border-radius: 4px;
}

.linkbar-wrapper--mobile {
    background-color: transparent;
}

.linkbar {
    height:100%;
    align-items: center;
}

.linkbar a {
    padding: 10px;
    font-size: 13px;
    color: #a6a2a2 !important;
    text-decoration: underline !important;
    text-underline-position: under;
    font-family: "Montserrat";
}

.status_texts {
    padding-bottom: 5px;font-weight: 300;font-size: 14px;letter-spacing: 1.5px;
}

/* ANIMATIONS ================ */

@-webkit-keyframes inputHighlighter {
	from {
		background: #5264AE;
	}
	to {
		width: 0;
		background: transparent;
	}
}

@-moz-keyframes inputHighlighter {
	from {
		background: #5264AE;
	}
	to {
		width: 0;
		background: transparent;
	}
}

@keyframes inputHighlighter {
	from {
		background: #5264AE;
	}
	to {
		width: 0;
		background: transparent;
	}
}


#chevron {
    margin-top: 170px;
    margin-bottom: 100px;
    margin-left: 0px;
    position: relative;
    text-align: center;
    padding-top: 70px;
    padding-bottom: 70px;
    background-image: linear-gradient(90deg, #000000 0%, #434343 100%);/* 076 Premium Dark: */
    transform: skew(0deg, 4deg);
    /* height: 100%; */
    width: 100%;
}

.square{
    width: 300px;
    height: 200px;
    background-color: white;
    border-radius: 3%;
    margin: 20px;
    margin-left: 165px;
    -webkit-box-shadow: 0px 0px 42px -8px rgba(179,179,179,1);
    -moz-box-shadow: 0px 0px 42px -8px rgba(179,179,179,1);
    box-shadow: 0px 0px 42px -8px rgba(179,179,179,1);
}

.squareTop{
    width: 250px;
    height: 300px;
    background-color: white;
    border-radius: 6%;
    margin: 20px;
    margin-top: 120px;
}

.squareskew{
    width: 250px;
    height: 300px;
    background-color: white;
    border-radius: 6%;
    margin: 20px;
    transform: skew(0deg, -4deg);
}

.scale{
    transform: scale(0.9);
}

.squareText{
    margin-top: 20px;
}

.chartMargin{
    margin: 60px;
    padding-left: 118px; 
}

.imgMargin{
    padding-top: 15px;
    padding-bottom: 25px;
    margin: 5px;
}

.imgShading{
    margin: 10px;
    -webkit-box-shadow: 0px 0px 23px 10px rgba(133,126,133,1);
    -moz-box-shadow: 0px 0px 23px 10px rgba(133,126,133,1);
    box-shadow: 0px 0px 23px 10px rgba(133,126,133,1);
}

.mainPageTitle{
    font-size: 2.4em;
    font-weight: 700;
    font-family: "Montserrat";
    letter-spacing: 1.0px;
    margin-top: 120px;
}

.mainPageParagraph{
    padding-top: 25px;
    font-size: 1.4em;
    font-family: "Montserrat";
    letter-spacing: 1px;

}

.fa-2x {
    font-size: 3em;
}

.fa {
    position: relative;
    display: table-cell;
    width: 60px;
    text-align: center;
    vertical-align: middle;
    font-size:20px;
}


/* .main-menu:hover,nav.main-menu.expanded {
width:250px;
overflow:visible;
} */

.main-menu {
    background-image: linear-gradient(90deg, #000000 0%, #434343 100%);/* 076 Premium Dark: */
    border-right:1px solid #e5e5e5;
    position: absolute;
    top:0;
    bottom:0;
    height:100%;
    left:0;
    width:170px;
    border-bottom-right-radius: 70%;
    overflow:visible;
    z-index:1000;
    min-height: 300px;
}

.main-menu>ul {
    margin:7px 0;
    padding-top: 30px;
}

.main-menu li {
    position:relative;
    display:block;
    width:170px;
    margin-top: 13px;
    margin-bottom: 13px
}

.main-menu li>a {
    position:relative;
    display:table;
    border-collapse:collapse;
    border-spacing:0;
    color:#fff;
    font-family: arial;
    font-size: 21px;
    text-decoration:none;
    -webkit-transform:translateZ(0) scale(1,1);
    -webkit-transition:all .1s linear;
    transition:all .1s linear;
}

.main-menu .nav-icon {
    position:relative;
    display:table-cell;
    width:200px;
    height:36px;
    text-align:center;
    vertical-align:middle;
    font-size: 20px;
    color: #FFFFFF;
    padding-top: 10px;
    padding-right: 5px;
}

.main-menu .nav-text {
    position:relative;
    display:table-cell;
    vertical-align:middle;
    width:110px;
    font-family: 'Montserrat', sans-serif;
}

.main-menu>ul.logout {
    position:absolute;
    left:0;
    bottom:0;
}

.no-touch .scrollable.hover {
    overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
    overflow-y:auto;
    overflow:visible;
}

a:hover,a:focus {
    text-decoration:none;
}

nav {
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    -o-user-select:none;
    user-select:none;
}

nav ul,nav li {
    outline:0;
    margin:0;
    padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
    color:#fff;
    background-color:#5fa2db;
}
.area {
    float: left;
    background: #e2e2e2;
    width: 100%;
    height: 100%;
}

.account-form{
    margin-left: 70px;
    padding-top: 3%;
    padding-left: 25%;
    padding-right: 25%;
    width: 100%;
}

.saldo-form{
    margin-left: 5px;
    margin-bottom: 5px;
}

.no-gutterr{
    margin-right: 0;
    margin-left: 0;
}

.modal {
    display: flex !important;
    align-items: center;
}

.modal-footer{
    border-top: none;
}

.modal-header{
    border-bottom: none;
}


@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}



@media (max-width: 786px) {
    .acecard, .textarea {
        display: none;
    }

}

@media (max-width: 992px) {
    .form-wrapper {
        float: initial !important;
        margin: 0 auto;
        width: initial;
    }
    .parabole {
        display: none;
    }
    .header {
        padding-bottom: 10px;
    }

}

@media (min-width: 992px) {
    .info-text-wrapper .info:before, .info-text-wrapper .reqs:before {
        display: initial !important;
    }
    .group label {
        font-size: 13px;
    }

    .group input:focus~label, .group input:valid~label {
        font-size: 13px;
    }
}

@media (max-width: 1199px) {
    .form-wrapper {
        float: initial !important;
        margin: 0 auto;
        /* width: 80%; */
    }
}

@media (min-width: 1199px) {
    .form-status {
        float: right !important;
    }
}

@media (min-width: 1440px) {
    .acecard {
        width: 800px;
    }

    .textarea {
        left: 400px;
    }
}

@media (max-width: 1550px) {
    .form-wrapper {
        float: initial !important;
        margin: 0 auto;
        /* width: 80%; */
    }
}